@import "tailwindcss";

@theme {
  --color-background: #0f1117;
  --color-foreground: #f8fafc;

  --color-card: #171923;
  --color-border: rgba(255,255,255,.08);

  --color-primary: #3b82f6;
  --color-success: #22c55e;

  --radius: 1rem;
}

@layer base {

  *{
    @apply border-border;
    box-sizing:border-box;
  }

  html{
    scroll-behavior:smooth;
  }

  body{
    @apply bg-background text-foreground;
    font-family: Inter, system-ui, sans-serif;
    margin:0;
    overflow-x:hidden;
  }

  a{
    text-decoration:none;
    color:inherit;
  }

  button{
    cursor:pointer;
  }

  img{
    display:block;
    max-width:100%;
  }

}